# Exclude virtual environment
venv/
env/
.env

# Exclude Python caches
*.pyc
__pycache__/

# Exclude SQLite database (if using SQLite)
*.sqlite3

# Exclude media files (if uploading locally)
media/

# Exclude collected static files
staticfiles/

# Exclude development environment settings
.idea/
.vscode/

# Log files
*.log

# Exclude operating system configuration files
.DS_Store
Thumbs.db
