# Исключаем виртуальное окружение
venv/
env/

# Исключаем кеши Python
*.pyc
__pycache__/

# Исключаем базу данных SQLite (если используешь SQLite)
*.sqlite3

# Исключаем медиафайлы (если загружаешь их локально)
media/

# Исключаем статические файлы, если они собраны
staticfiles/

# Исключаем настройки среды разработки
.idea/
.vscode/

# Лог-файлы
*.log

# Исключаем файлы конфигурации операционной системы
.DS_Store
Thumbs.db
