<h1>Appointment List</h1>

<table>
    <tr>
        <th>Client</th>
        <th>Hairdresser</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    {% for appointment in appointments %}
    <tr>
        <td>{{ appointment.client.user.username }}</td>
        <td>{{ appointment.hairdresser.user.username }}</td>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.start_time }}</td>
        <td>{{ appointment.end_time }}</td>
    </tr>
    {% endfor %}
</table>
